html, body {
  background-color: #518b42;
  color: white;
}

h1 {
  color: white;
  padding-top: 30px;
}

.item {
  margin: 5%;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

@media (max-width: 600px) {
  .card-container {
    grid-template-columns: 1fr;
  }
}

.card {
  text-align: center;
  border: 2px solid white;
  border-radius: 5px;
  margin: 10px;
}

.card-title {
  color: white;
  margin: 10px;
}

.card-price {
  color: white;
  margin: 15px;
}